.header {
    background-image: linear-gradient(to right, #00d2ff, #3a7bd5);
    color: var(--light);
    height: var(--height-section);
    padding: var(--padding-section);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.header__welcome {
    font-size: 32px;
    filter: drop-shadow(0 0 20px #000);
    text-align: center;

    padding: 0 10px;
}

@media (min-width: 768px) {
    .header__welcome {
        font-size: 38px;
    }
}

@media (min-width: 992px) {
    .header__welcome {
        font-size: 48px;
    }
}