.logo {
    width: 120px;
    height: 120px;
    filter: drop-shadow(0 0 20px #000)
}

.arrow {
    margin-bottom: 10vh;
    animation: bounce 3s forwards;
}

@media (min-width: 768px) {
    .arrow {
        margin-bottom: 30px;
    }
}

@keyframes bounce {
    from {
        top: -40px;
    }

    to {
        top: 0;
    }
}