@font-face {
  font-family: 'FiraCode';
  src: url('/static/fonts/firacode-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/firacode-bold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: 900;

}

@font-face {
  font-family: 'FiraCode Retina';
  src: url('/static/fonts/firacode-retina-webfont.woff2') format('woff2'),
       url('/static/fonts/firacode-retina-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'FiraCode';
  src: url('/static/fonts/firacode-light-webfont.woff2') format('woff2'),
       url('/static/fonts/firacode-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: 300;

}

@font-face {
  font-family: 'FiraCode';
  src: url('/static/fonts/firacode-medium-webfont.woff2') format('woff2'),
       url('/static/fonts/firacode-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: 500;

}

@font-face {
  font-family: 'FiraCode';
  src: url('/static/fonts/firacode-regular-webfont.woff2') format('woff2'),
       url('/static/fonts/firacode-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'FiraCode', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

:root {
  --brand: #3A7BD2;
  --light: #fff;
  --padding-section: 40px 0;
  --height-section: 100vh;
}

::selection {
  background-color: #3A7BD2;
  color: var(--light)
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--flex--spaced {
  justify-content: center;
}

@media (min-width: 768px) {
  .container--flex--spaced {
    justify-content: space-between;
  }
}

section {
  min-height: 100vh;
}
